<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home</title>
</head>
<body>

<form action="/output" method="post">
    <p>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname">
    </p>
    <p>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname">
    </p>

    <p>
        <input type="submit" name="submit" value="Submit" >
    </p>
</form>

</body>
</html>